{% extends 'base.html' %}
 {% block title %}
{{ product.name }}
    {% endblock %}

{% block content %}
<h2>{{ product.name }}</h2>
<div class="review-feedback">
                <span class="fa fa-star {% if product.get_average_likes > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if product.get_average_likes > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if product.get_average_likes > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if product.get_average_likes > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if product.get_average_likes > 4 %} checked {% endif %}"></span>
            </div>
{% if request.user.is_authenticated%}
    <form method="POST" action="{% url 'add_score' product.slug %}">
        {%csrf_token %}
        {{ add_score_form }}
        <hr>
        <button type="submit" class="btn btn-primary"> оценить </button>
    </form>
{% endif %}
<h6><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>
<p>Viewed {{ product.view_count }} times</p>
<p>{{ product.price }}</p>
{% if request.user.is_authenticated %}
    <form action="{% url 'item_add' product.slug %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add" >
    </form>
{% endif %}
<p>{{ product.description|safe|linebreaksbr }}</p>

{% if request.user.is_authenticated %}
    {% if in_fave %}
    <a class="btn btn-lg btn-light" href="{% url 'stop_being_fav' product.slug %}" role="button">
      Удалить из избранного
    </a>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'add_item_in_fav' product.slug %}" role="button">
      Добавить в избранное
    </a>
    {% endif %}
{% endif %}
<hr>
<h5 class="card-header">Все отзывы:</h5>
<br>
{% for item in feedbacks %}
    {{ item.text }}
<hr>
{% endfor %}
<br>

{% if request.user.is_authenticated %}

<h5 class="card-header">Добавить отзыв:</h5>
    <form method="POST" action="{% url 'add_feedback' product.slug %}">
        {%csrf_token %}
        {{ feedback_form }}
        <hr>
        <button type="submit" class="btn btn-primary"> Добавить </button>
    </form>
{% endif %}
{% endblock %}