{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block script%} {% static 'js/review.js' %} {% endblock %}
{% block title %}Review
{% endblock %}
{% block content %}
<div id="reviews">

</div>
<div class="form">
   <h2>Leave a comment</h2>
       <form action="." role="form" method="POST" id="review-form">
            {% csrf_token %}
             {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Добавить</button>
       </form>
</div>
{% endblock %}