{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script%}{% static 'js/script.js' %}{% endblock %}
{% block title %}
{% if is_edit %}Редактировать продукт{% else %}Добавить продукт{% endif %}
{% endblock %}
{% block content %}
<div class="mt-3">
    <div id="alert_box"></div>
    <div id="img_box"></div>
    <form id="my_form" autocomplete="off">
        {% csrf_token %}
        {{form|crispy }}
        <button type="submit" class="btn btn-primary">{% if is_edit %} Сохранить {% else %} Добавить {% endif %}</button>
    </form>
</div>
{% endblock %}