{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Подтверждение{% endblock %}
{% block content %}
<div class="content-section">
{% include 'includes/messages.html' %}
  <h1 class="text-center">Подтверждение</h1>
    <div class="col-lg-6 col-lg-offset-3">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
                {% for error in field.errors %}
                    <p class="register-error">{{ error }}</p>
              {% endfor %}
            <button type="submit" class="btn btn-success">Подтвердить емейл</button>
        </form>
</div>
</div>
{% endblock %}