{% extends 'base.html' %}
 {% block title %}
Login
 {% endblock %}
{% block content %}
<h1> {{ user.username }} </h1>
<h3>{{ user.customer.address }}</h3>
<h3> Скидка с учетом бонуса лояльности {{ user.customer.get_discount }}% </h3>
<h4 style="color:red">
{% for item in cart %}
В корзине '{{ item.product }}' общей стоимостью '{{ item.total_price }} тугриков' в количестве {{ item.quantity }} штук
{% endfor %}
</h4>
<h5>
 {% for item in order %}
 {{ item.will_be_delivered }}
 <hr>
 {% endfor %}
</h5>
<a href="{% url 'cart_detail' %}">К корзине</a>
<a href="{% url 'favorites_items' %}">Избранное</a>
<a href="{% url 'edit_profile' %}">Изменить профиль</a>
<a href="{% url 'delete_user_account' %}">Удалить профиль</a>
{% endblock %}